*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.mensos ul li a{
    color: #fff;
}
.mensos ul li a img{
    width: 20px;
    color: #fff;
}
a{
    text-decoration: none;
}
.mensos{
    padding: 5px 0;
    background-color: #148f77;
}
.mensos ul li{
    display: inline-block;
    margin-right:10px;
}

.contener{
    margin:0 auto;
    width:80%;
}
.contener::after{
    content: '';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    
}
header h1 a{
    font-family: Roboto Slab;
    color: #148f77; 
}
header ul{
    float: right;
}
header ul li{
    display: inline-block; 
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #148f77;
    color: #fff;
}
.banner{
    height:80vh;
    background-image: url(../image/karton.jpg);
    background-size: cover;
    background-position: 0 -130px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2{
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid;
}
.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 143, 119, .6);
}

section h3{
    padding: 50px 0;
    text-align: center;
    color: #148f77;
    margin-bottom: -20px;
}
.abaut p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}