body{
    font: 16px/28px arial, sans-serif;
    background-color: #aeaeae;
    color:#333;
}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}
.header{
    padding: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.header .judul{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    
}
.header ul li{
    display: inline-block;
    margin-right: 10px;
    padding-top: 1px;
    margin-top: -40px;
}
.header a{
    text-decoration: none;
    color: salmon;

}
.header a:hover{
    background-color: lightskyblue;
    color: white;
}
.hero {
    height: 400px;
    background-image: url(../image/html.png);
    background-size: cover;
    background-position: 0 -30px ;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}

.conten{
    padding: 20px;
}

.conten h2{
    font-size: 28px;
    font-weight: bold;
}
.conten .penulis{
    font-size: 12px;
    margin-top: -20px;
    word-spacing: 5px;
}

.conten a{
    text-decoration: none;
    color: salmon;
}

.conten p{
    font-size: 14px;
    margin-bottom: 20px;
}

.conten a:hover{
    color: white;
    background-color: lightskyblue;
}

.pooter{
    background-color: #333;
    padding: -1px;
}

.pooter .copy{
    color: #aeaeae;
    font-size: 12px;
    text-align: center;
}